@page "/materials"
@using BuildingWorks.Models.Overview
@using BuildingWorks.UI.BlazorWebAssembly.Client.Services.Interfaces;
@inject HttpClient Http
@inject IMaterialService service;

<h1>Materials</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (materials == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price per one</th>
                <th>Measure</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var material in materials)
            {
                <tr>
                    <td>@material.Name</td>
                    <td>@material.PricePerOne</td>
                    <td>@material.Measure</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MaterialOverivew>? materials;

    protected override async Task OnInitializedAsync()
    {
        materials = (await service.GetAllOverview(new Models.PaginationParameters
            {
                CurrentPage = 1,
                EntitiesPerPage = 3,
            })).ToList();
    }
}
