@page "/plans"
@using BuildingWorks.Models.Overview
@inject HttpClient Http


<h1>Plans</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (plans == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Object</th>
                <th>Complete time</th>
                <th>Cost</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in plans)
            {
                <tr>
                    <td>@plan.ObjectName</td>
                    <td>@plan.CompleteTime</td>
                    <td>@plan.Cost</td>
                    <td>@plan.IsCompleted</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PlanOverview[]? plans;

    protected override async Task OnInitializedAsync()
    {
        plans = await Http.GetFromJsonAsync<PlanOverview[]>("plans/overview?EntitiesPerPage=3&CurrentPage=1");
    }
}
