@page "/planDetails"
@using BuildingWorks.Common.GlobalConstants;
@using BuildingWorks.Models.Overview
@using BuildingWorks.UI.BlazorWebAssembly.Client.Services.Interfaces;
@inject HttpClient Http
@inject IPlanDetailService service;
@inject NavigationManager NavigationManager;

<h1>PlanDetials</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (planDetails == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var planDetail in planDetails)
            {
                <tr>
                    <td>@planDetail.IsCompleted</td>
                    <td>@planDetail.Price</td>
                    <td>@planDetail.WorkPart</td>
                    <td><a @onclick="() => MoveToUpdatedForm(planDetail.Id)">fdfdfdfdfd</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<PlanDetailOverview>? planDetails;

    protected override async Task OnInitializedAsync()
    {
        planDetails = (await service.GetAllOverview(new Models.PaginationParameters
            {
                CurrentPage = 1,
                EntitiesPerPage = PaginationConstants.EntitesPerPage,
            })).ToList();
    }

    private async Task Delete(int id)
    {
        await service.Delete(id);
        planDetails?.Remove(planDetails.First(x => x.Id == id));
    }

    private void MoveToUpdatedForm(int buildingObjectId)
    {
        NavigationManager.NavigateTo($"/buildingObjects/create/{buildingObjectId}");
    }
}
