@page "/plans"
@using BuildingWorks.Models.Overview
@using BuildingWorks.UI.BlazorWebAssembly.Client.Services.Interfaces
@inject HttpClient Http
@inject IPlanService service;

<h1>Plans</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (plans == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Object</th>
                <th>Complete time</th>
                <th>Cost</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in plans)
            {
                <tr>
                    <td>@plan.ObjectName</td>
                    <td>@plan.CompleteTime</td>
                    <td>@plan.Cost</td>
                    <td>@plan.IsCompleted</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<PlanOverview>? plans;

    protected override async Task OnInitializedAsync()
    {
        plans = (await service.GetAllOverview(new Models.PaginationParameters
            {
                CurrentPage = 1,
                EntitiesPerPage = 3,
            })).ToList();
    }
}
