@page "/materials/create/"
@page "/materials/create/{UpdatedFormId:int}"
@using BuildingWorks.Models.Overview
@using BuildingWorks.Models.Resources.Providers;
@using BuildingWorks.UI.BlazorWebAssembly.Client.Services.Interfaces;
@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient Http
@inject IMaterialService service;

<h1>Material creation</h1>

<p>This component demonstrates fetching data from the server.</p>

<EditForm Model="CreatedForm">
    <InputText @bind-Value="@CreatedForm.Name"></InputText>
    <InputText @bind-Value="@CreatedForm.Measure"></InputText>
    <button class="btn btn-primary" @onclick="(() => Create())">Create</button>
</EditForm>

@code {
    [Parameter]
    public int UpdatedFormId { get; set; }

    public MaterialResource CreatedForm { get; set; } = new MaterialResource();

    private async Task Create()
    {
        await service.Create(CreatedForm);
    }
}
