@page "/planDetails/create/"
@page "/planDetails/create/{UpdatedFormId:int}"
@using BuildingWorks.Models.Overview
@using BuildingWorks.Models.Resources.BuildingObject
@using BuildingWorks.Models.Resources.Plans;
@using BuildingWorks.UI.BlazorWebAssembly.Client.Services.Interfaces;
@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient Http
@inject IPlanDetailService service;

<h1>Building object creation</h1>

<p>This component demonstrates fetching data from the server.</p>
<EditForm Model="CreatedForm">
    <InputText @bind-Value="@CreatedForm.WorkPart"></InputText>
    <button class="btn btn-primary" @onclick="(() => Create())">Create</button>
</EditForm>

@code {
    [Parameter]
    public int UpdatedFormId{ get; set; }

    public PlanDetailResource CreatedForm { get; set; } = new PlanDetailResource();

    private async Task Create()
    {
        await service.Create(CreatedForm);
    }
}
