@page "/providers/create/"
@page "/providers/create/{UpdatedFormId:int}"
@using BuildingWorks.Models.Overview
@using BuildingWorks.Models.Resources.BuildingObject
@using BuildingWorks.Models.Resources.Providers;
@using BuildingWorks.UI.BlazorWebAssembly.Client.Services.Interfaces;
@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient Http
@inject IProviderService service;

<h1>Building object creation</h1>

<p>This component demonstrates fetching data from the server.</p>
<EditForm Model="CreatedForm">
    <InputText @bind-Value="@CreatedForm.Name"></InputText>
    <InputText @bind-Value="@CreatedForm.Country"></InputText>
    <InputText @bind-Value="@CreatedForm.AdditionalData"></InputText>
    <button class="btn btn-primary" @onclick="(() => Create())">Create</button>
</EditForm>

@code {
    [Parameter]
    public int UpdatedFormId  { get; set; }

    public ProviderResource CreatedForm { get; set; } = new ProviderResource();
    private bool _isCreate;

    protected override async Task OnInitializedAsync()
    {
        _isCreate = UpdatedFormId == 0;

        if (UpdatedFormId != 0)
        {
            CreatedForm = await service.GetById(UpdatedFormId);
        }
    }

    private async Task Create()
    {
        if (_isCreate == false)
        {
            await service.Create(CreatedForm);
        }
        else
        {
            await service.Update(CreatedForm);
        }
    }
}
